.restaurant{
    background: rgba(0, 0, 0, 0.02);
    width: 100%;
    padding: 10px 17px;
    margin-bottom: 10px;
}
.icons{
    font-size: 24px !important;
    border-radius: 8px;
    line-height: 20px;
    color: #1a8fe3 !important;
}
@media screen and (max-width : 425px){
    .res-data{
        width: 70%;
        padding-left: 17px;
    }
    .res-photo{
        margin-right: 8px;
        
        width: 20%;
    }
}
@media screen and (min-width : 430px){
    .res-data{
        width: 70%;
        padding-left: 0px;
        /* border: 2px solid blue; */
    }
    .res-photo{
        margin-right: 19px;
        
        width: 20%;
    }
}
.res-name{
    letter-spacing: 0.7px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #001427;
    font-weight: 600;
}
.res-item-data{
    margin-top: 2px;
    letter-spacing: 0.9px;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0 , 0.8);
    font-weight: 500;
    width: 100%;
    overflow-x: visible;
}

.bg-custom{
    background-color: #0a2342;
    height: 72px;
    z-index: 0;
}
.brand{
    color: white;
    font-size: 22px;
    display: inline-block;
    margin-left: 17px;
}
.fa-bars{
    font-size: 29px !important;
    color: white;
}
.fa-arrow-left{
    font-size: 23px !important;
    color: white;
}
.hamburger{
    display: inline;
}

.user-div{
    width: 100%;
    height: 200px;
}
.user-image{
    position: relative;
    margin-top: 80px !important;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e8e8e8;
    font-size: 16px;
}
.userprofile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}
button{
    position: absolute;
    right: 30px;
    bottom: 40px;
    outline: none !important;
    border: none !important;
    background: #e8e8e8;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 17px;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 500;
    transform: translateZ(12px);
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}
.form-group{
    margin-top: 17px !important;
    width: 80% !important;
    margin: auto;
}
.edit{
    font-size: 18px;
    margin-top: 20px !important;
    color: #121212;
}