{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="welcome text-center">
        Welcome Back
    </div>
    <div class="form-wrapper">
        <div class="signup text-center">
            Hello !
        </div>
        <form action="{% url 'LoginView' %}" method="POST" class="form" novalidate>
            {% csrf_token %}
            <div class="form-group">
            <label class="form-label" for="username">Username</label>
            <input id="username" autocomplete="off" class="form-input" type="text" name = 'username' required/>
            </div>
            <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input id="password" class="form-input" type="password" name='password' required/>
            </div>
            <div class="input-group border-less justify-content-center">
            <button type="submit" class="btn-signup-initial">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="already text-center">
        <span>New to SnakApp ? </span><a href="{% url 'RegisterView' %}" class="login">Sign up</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $('input').focus(function(){
            $(this).parents('.form-group').addClass('focused');
        });

        $('input').blur(function(){
        var inputValue = $(this).val();
        if ( inputValue == "" ) {
            $(this).parents('.form-group').removeClass('focused');
            $(this).removeClass('filled');
        } else {
            $(this).addClass('filled');
        }
        });
    </script>
    <script>
        
        const formLogin = $(".form");
        var check_login1 = false;
        var check_login2 = false;
        $(".form-input").keyup(function(){
            var identify = $(this).attr("id");
            if(identify === "username"){
                if($(this).val().length == 0){
                    check_login1 = false;
                }
                else{
                    check_login1 = true;
                }
            }
            else if(identify === "password"){
                if($(this).val().length == 0){
                    check_login2 = false;
                }
                else{
                    check_login2 = true;
                }
            }
            if(check_login1 === true && check_login2 === true){
            
                $("button").css({"background-color" : "#0a2342", "color" : '#fff'});
            }
            else{
                $("button").css({'background-color' : "#e8e8e8", "color" : "rgba(0, 0, 0, 0.3)"});
            }
        });
        formLogin.submit(function(event){
            if(check_login1 === false || check_login2 === false){
                console.log("this is the provlem")
                event.preventDefault();
                event.stopPropagation();
            }
            else{
                console.log("Worked");
            }
        });
    </script>
</body>
</html>